.header {
    position: fixed;
    width: 100%;
    background: rgba(62, 0, 255, 0.3);
    z-index: 1;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1.5rem;
}

.title {
    margin-block-start: 0;
    margin-block-end: 0;
}

.titleLink {
    color: white;
    text-decoration: none;
}

.menu {
    list-style: none;
    padding: 0;
}

.menu li {
    display: inline;
    margin-right: 16px;
}

.menu li a {
    color: #e0e0e0;
    text-decoration: none;
}

.menu li a:hover {
    color: white;
    text-decoration: underline;
}
