.header {
    background: rebeccapurple;
}

.wrapper {
    padding: 10px 24px;
}

.titleLink {
    color: white;
    text-decoration: none;
}

.menu {
    list-style: none;
    margin: 24px 0 0 0;
    padding: 0;
}

.menu li {
    display: inline;
    margin-right: 16px;
}

.menu li a {
    color: #e0e0e0;
    text-decoration: none;
}

.menu li a:hover {
    color: white;
    text-decoration: underline;
}
