.header {
    position: fixed;
    width: 100%;
    background: rgba(62, 0, 255, 0.3);
    z-index: 1;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1.5rem;
}

@media screen and (max-width: 40em) {
    .wrapper {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding-top: 1rem;
    }
}

.title {
    margin: 0;
}

.titleLink {
    color: white;
    text-decoration: none;
}

@media screen and (max-width: 40em) {
    .title {
        font-size: 1em;
    }
}

.menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

@media screen and (max-width: 40em) {
    .menu {
        margin-top: 1rem;
    }
}

.menu li {
    display: inline;
    margin-right: 16px;
}

.menu li a {
    color: #e0e0e0;
    text-decoration: none;
}

.menu li a:hover {
    color: white;
    text-decoration: underline;
}
