.services {
    margin-top: 24px;
    font-size: 16px;
}

.services a:link, .services a:visited {
    color: rgba(0,0,0,.56);
    text-decoration: none;
}

.services a:hover {
    color: black;
    text-decoration: underline;
}