body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #170055;
}

.container {
    padding: 5rem 1.5rem 2rem 1.5rem;
    color: #fff;
    max-width: 40rem;
}

@media screen and (max-width: 40em) {
    .container {
        padding-top: 7rem;
    }
}

h1 {
    font-size: 2rem;
    color: #b5ffd9;
}

h2 {
    font-size: 1.2rem;
}

@media screen and (max-width: 40em) {
    h1 {
        font-size: 1.3rem;
    }

    h2 {
        font-size: 1.1rem;
    }
}

p {
    color: #ccc;
    font-size: 1rem;
}
